*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html{
    font-size: 62.5%;
    background-color: rgb(32, 33, 36);
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}

nav{
    font-size: 1.3rem;
    display: flex;
    justify-content: flex-end;
    height: 60px;
    padding: 6px;
}

nav ul{
    list-style: none;
    display: flex;
    height: 100%;
    align-items: center;
}

.nav_ul_text{
    display: flex;
    align-items: center;
    height: 24px;
    margin-right: 2px;
    padding-bottom: 1px;
}
.nav_ul_text li{
    margin-right: 15px;
}

.nav_ul_text li:hover{
    text-decoration: underline;
    cursor: pointer;
}

.googleappicon_container{
    margin-left: 2px;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
}

.googleappicon_container:hover{
    background-color: #313134;
}

.googleappsicon{
    width: 24px;
    height: 24px;
    background-image: url('https://williams44t.github.io/google-homepage/images/apps-icon.webp');
    background-position: center;
    background-repeat: no-repeat;
    background-size: 24px;
}

.profileicon_box{
    margin-right: 8px;
    margin-left: 8px;
    width: 40px;
    height: 40px;
    padding:4px;
    border-radius: 50%;
}

.profileicon_box:hover{
    background-color: #313134;
}

.profileicon{
    width: 32px;
    height: 32px;
    background-image: url('https://lh3.googleusercontent.com/ogw/ADea4I5uM13SHIq02_xWdjg4WoGE4kyToL5SvBEEamnY=s32-c-mo');
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    border-radius: 50%;
}

main{
    display: flex;
    flex-direction: column;
}
main .content{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 11px;
}

.googleLogo{
    width: fit-content;
}

.barrabuscar{
    margin-top: 25.5px;
    width: 584px;
    height: 46px;
    border: #5f6368 1px solid;
    border-radius: 25px;
    display: flex;
    justify-content: space-between;
}

.barrabuscar:hover{
    background-color: #303134;
    border-color: #303134;
}

.container_lupa{
    height: 100%;
    width: 20px;
    margin-left: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.lupa{
    height: 43%;
}

.container_mic{
    height: 100%;
    width: 26px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 15px;
}

.mic{
    height: 45.38%;
}

.botones button{
    letter-spacing: .1px;
    background-color: #303134;
    border: 1px solid #303134;
    color: #e8eaed;
    border-radius: 4px;
    padding-inline: 16px;
    text-align: center;
    margin: 29px 4px;
    font-size: 1.4rem;
    height: 36px;
    min-width: 54px;
}

.botones button:hover{
    border: 1px solid #5f6368;
    cursor: pointer;
}

.English{
    color:#bdc1c6;
    font-size: small;
}

.English a{
    margin-left: 3px;
    text-decoration: none;
    color: #8ab4f8;
}

.English a:hover{
    text-decoration: underline;
}